<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Bull City Code</title>
</head>

<body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <div id="mainwrapper">
    <header>
      <div class id="logo">
        <strong>Research Home for Healthy Brain and Alzheimer's Prevention</strong>
      </div>
      <nav id="nav-bar">
        <a href="https://dry-inlet-81807.herokuapp.com/">Home</a>&nbsp; &nbsp;<a href="https://dry-inlet-81807.herokuapp.com/news">News Articles</a>&nbsp; <a href="https://dry-inlet-81807.herokuapp.com/forum">Forum</a>
      </nav>
    </header>
    <div id="content" class="row">
      

        
          {{{body}}}
        
        
          <section id="sidebar" class="col-md-3">
            <div class="show-user-name"></div>
            <div class="log-out" style="display:none"><a href="#">Log Out</a></div>
            <form id="login-form">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" id="password-login" placeholder="Password">
              </div>
              <div class="form-check">
                <button class="btn btn-info open-modal btn-sm" type="button" id="login-register">Register</button>
                <button type="submit" class="btn btn-primary btn-sm" id="login-submit">Login</button>
              </div>
            </form>

            <div id="adimage"><img src="./assets/IeNtjpxS.png" alt="" /></div>
            <nav>
              <ul>
                <li><a href="#">Beat-AD</a></li>
                <li><a href="#">Healthy Brain</a></li>
                <li><a href="#">ADNI</a></li>
                <li><a href="#">Graduate II</a></li>
                <li><a href="#">Pointer</a></li>
                <li><a href="https://dry-inlet-81807.herokuapp.com/exert">EXERT</a></li>
                <li><a href="#">SNIFF&nbsp; </a></li>
                <li><a href="#">MIND </a></li>
              </ul>
            </nav>
          </section>
        
      
    </div>
    <div class="modal" id="register-modal" tabindex="-1" role="dialog" style="overflow-y:auto">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Register</h5>
            <button type="button" id="modal-x" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <p id="registration-error"></p>
          <div class="modal-body">
            <form>
              <div class="container">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputEmail">Email *</label>
                    <input type="email" class="form-control form-control-sm" id="inputEmail" placeholder="Email">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputPassword1">Password *</label>
                    <input type="password" class="form-control form-control-sm" id="inputPassword1" placeholder="Password">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="inputPassword2">Re-enter Password *</label>
                    <input type="password" class="form-control form-control-sm" id="inputPassword2" placeholder="Re-enter Password">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputFirstName">First Name *</label>
                    <input type="firstName" class="form-control form-control-sm" id="inputFirstName" placeholder="First Name" maxlength="20">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name *</label>
                    <input type="lastName" class="form-control form-control-sm" id="inputLastName" placeholder="Last Name" maxlength="25">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputAddress">Address *</label>
                    <input type="text" class="form-control form-control-sm" id="inputAddress" placeholder="1234 Main St">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control form-control-sm" id="inputAddress2" placeholder="Apartment/Suite">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-5">
                    <label for="inputCity">City *</label>
                    <input type="text" class="form-control form-control-sm" id="inputCity">
                  </div>

                  <div class="form-group col-md-3">
                    <label for="inputState">State *</label>
                    <select id="inputState" class="form-control">
                      <option selected>Choose...</option>
                      <option value="AK">AK</option>
                      <option value="AL">AL</option>
                      <option value="AR">AR</option>
                      <option value="AZ">AZ</option>
                      <option value="CA">CA</option>
                      <option value="CO">CO</option>
                      <option value="CT">CT</option>
                      <option value="DC">DC</option>
                      <option value="DE">DE</option>
                      <option value="FL">FL</option>
                      <option value="GA">GA</option>
                      <option value="HI">HI</option>
                      <option value="IA">IA</option>
                      <option value="ID">ID</option>
                      <option value="IL">IL</option>
                      <option value="IN">IN</option>
                      <option value="KS">KS</option>
                      <option value="KY">KY</option>
                      <option value="LA">LA</option>
                      <option value="MA">MA</option>
                      <option value="MD">MD</option>
                      <option value="ME">ME</option>
                      <option value="MI">MI</option>
                      <option value="MN">MN</option>
                      <option value="MO">MO</option>
                      <option value="MS">MS</option>
                      <option value="MT">MT</option>
                      <option value="NC">NC</option>
                      <option value="ND">ND</option>
                      <option value="NE">NE</option>
                      <option value="NH">NH</option>
                      <option value="NJ">NJ</option>
                      <option value="NM">NM</option>
                      <option value="NV">NV</option>
                      <option value="NY">NY</option>
                      <option value="OH">OH</option>
                      <option value="OK">OK</option>
                      <option value="OR">OR</option>
                      <option value="PA">PA</option>
                      <option value="PR">PR</option>
                      <option value="RI">RI</option>
                      <option value="SC">SC</option>
                      <option value="SD">SD</option>
                      <option value="TN">TN</option>
                      <option value="TX">TX</option>
                      <option value="UT">UT</option>
                      <option value="VA">VA</option>
                      <option value="VT">VT</option>
                      <option value="WA">WA</option>
                      <option value="WI">WI</option>
                      <option value="WV">WV</option>
                      <option value="WY">WY</option>
                    </select>
                  </div>

                  <div class="form-group col-md-4">
                    <label for="inputZip">Zip *</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputPhone">Phone Number</label>
                    <input type="text" class="form-control" id="inputPhone">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-12">When is the best time to call?</div>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="timeCheck1">
                      <label class="form-check-label" for="timeCheck1">Morning</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="timeCheck2">
                      <label class="form-check-label" for="timeCheck2">Afternoon</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="timeCheck3">
                      <label class="form-check-label" for="timeCheck3">Evening</label>
                    </div>
                  </div>
                </div>
                <div class="form-group row mt-3">
                  <div class="col-sm-12">Check the items you would like to learn more about:</div>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck1">
                      <label class="form-check-label" for="gridCheck1">Research opportunities</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck2">
                      <label class="form-check-label" for="gridCheck2">Giving opportunities</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck3">
                      <label class="form-check-label" for="gridCheck3">I'd like to receive the Vital newsletter</label>
                    </div>
                  </div>
                </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="modal-close" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="modal-save">Register</button>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div id="footerbar">
        &reg; Bull City Code
      </div>
    </footer>
  </div>

  <script>
    let activeUser = "";
  </script>

  <script src="./js/index.js"></script>
  <script src="./js/news.js"></script>
  <script src="./js/forum.js"></script>
</body>

</html>