    <section class="col-md-9" id="mainContent">
      <div data-role="page" id="page">      </div>
        
      
      <h1>Wake Forest Home for Alzheimer's and Dementia Research </h1>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NgM53HAaCcI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h2>EXERT Research Study</h2>
      <h3>Learn How Exercise is good for your Brain.</h3>
      <h3>You may qulaify to participate if you are</h3>
      <ul>Between the ages of 65 and 89</ul>
      <ul>Not taking insulin for Type 2 diabetes</ul>
      <ul>Not currently exercising</ul>
      <ul>able to complete an 18-month execise study program</ul>
      <ul>Able to visit a local YMCA four times per week during the study</ul>
      <ul>In overall good health with no planned surgeries</ul>
      <ul>Have a friend or family member who can be a study partner and can accompany you to many visits</ul>
      <div id="bannerImage"> </div>
      
    </section>