<div class="container border border-warning">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form id="post-forum">
        <div class="form-group">
          <label for="title">Title:</label>
          <input placeholder="Post Title" type="text" class="form-control" id="title">
          <br/>
          <label for="body">Body:</label>
          <textarea placeholder="Post Body" class="form-control" rows="10" id="body"></textarea>
          <br/>
          <button type="submit" class="btn btn-success submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
